@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #262626;
  color: #f1ece2;
}

a {
  color: #59cd90;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  background-color: #262626;
  color: #f1ece2;
  margin: 10px 0;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  border-width: 1px;
  border-color: #f1ece2;
  border-style: solid;
}

button:hover {
  background-color: #303030;
  cursor: pointer;
}

.actionButton {
  border: none;
  background-color: #59cd90;
  color: #262626;
  font-size: 1.5rem;
  padding: 15px 25px;
}

.actionButton:hover {
  background-color: #50bf84;
}

.secondaryActionButton {
  border: solid;
  border-width: 1px;
  border-color: #f1ece2;
  background-color: #262626;
  color: #f1ece2;
  font-size: 1.5rem;
  padding: 15px 25px;
}

.secondaryActionButton:hover {
  background-color: #303030;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 3rem 1rem;
}

@media (min-width: 769px) {
  .container {
    margin: 4rem auto;
  }
}

/* Header */
.header {
  margin-top: 20px;
}

.logoContainer {
  display: inline-block;
}

.logo {
  color: #59cd90;
  font-family: "Racing Sans One", cursive;
  font-size: 2.5rem;
}

.tagline {
  font-size: 0.8rem;
  font-style: italic;
  color: #f1ece2;
}

.feedbackPageLink {
  float: right;
  margin-top: 10px;
  font-family: "Racing Sans One", cursive;
}

.feedbackPageLink a {
  text-decoration: none;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  color: darkgrey;
}

/* Quiz Component */
.skipQuizButton {
  padding: 10px;
  background-color: #262626;
  color: #262626;
  margin-top: 100px;
  border: none;
  border-radius: 4px;
}

.skipQuizButton:hover {
  cursor: pointer;
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 0;
  font-size: 14px;
  color: darkgrey;
  font-style: italic;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 0;
  color: #f1ece2;
}

h2 {
  font-weight: 400;
}

/* Multiple Choice Question Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

.answerOption {
  background-color: #303030;
  padding: 15px 40px;
  margin: 15px 15px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #f1ece2;
  border-style: solid;
  font-size: 1.5rem;
}

.answerOption:hover {
  background-color: #545454;
  cursor: pointer;
}

/* Text Question Component */
.textQuestionInput {
  padding: 10px 0;
  width: 100%;
  background-color: #262626;
  font-size: 2rem;
  caret-color: #f1ece2;
  color: #f1ece2;
  border-style: none none solid none;
  border-color: #3f3f3f;
  border-width: 1px;
}

.textQuestionInput:focus {
  outline: none;
}

.helperText {
  margin-top: 30px;
  color: darkgrey;
  font-size: 0.9rem;
}

/* Results Component */
.resultsContainer {
  text-align: center;
}

.resultsSectionHeaderText {
  display: inline-block;
  padding: 15px 35px;
  color: #59cd90;
  font-family: "Racing Sans One", cursive;
  font-size: 2.5rem;
  border-bottom: solid;
  border-width: 8px;
}

.resultsSupportingText {
  font-size: 1.2rem;
  margin: 35px;
}

.resultsButtonGroup {
  display: flex;
  justify-content: center;
}

.resultsButtonGroup button {
  margin: 25px 35px;
}

/* Feedback Page */
.feedbackForm form {
  margin-top: 25px;
}

.feedbackForm input,
textarea {
  display: block;
  width: 70%;
  margin: 15px 0 15px 0;
  padding: 10px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}

.feedbackForm textarea {
  height: 5rem;
}

/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
